nav{
	padding-left: 30px;
	padding-right: 30px;
}
main{
	padding-left: 330px;
	padding-right: 30px;
}
main th:last-child, main td:last-child{
	width: 550px !important;
}
.invisible-top {
    top: 65px !important;
  }
#theTable tbody tr{
	display: none;
}