ul,li{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        ul.menu li {
            display: inline-block;
            color: #008F39;
            width: 100px;

        }

        ul.subMenu {
            background: rgba(10,10,10,0.2);
            display: none;
            width: 100px;
            text-align: center;
            margin-top: 8px;
            margin-left: -16px;
        }

        ul.subMenu a{
            text-decoration-line: none;
        }

        ul.menu li:hover {
            cursor: pointer;
            background: rgba(50,50,50,0.4);
            color: rgba(0,0,0,0.9);
        }

        ul.menu li:hover ul.subMenu {
            display: block; 
            position: absolute;
        }

        ul.subMenu li {
            display: block;
            color: rgba(0,0,0,0.65);
        }

        .nav1 a{
            color: black;
        }

        .nav1 :hover {
            background: rgba(50,50,50,0.4);
        }